/* Header Section */
@media screen and (min-width:1161px) {
    .HeaderMenuBtn{
        display: none;
    }
    .offcanvasHeader{
        display: none;
    }
    .offcanvasHeaderOverlay{
        display: none;
    }
}
@media screen and (max-width:1160px) {
    .headerCol1{
        display: flex;
        align-items: center;
    }
    /* .header-logo-icon{
        fill: #000 !important;
    }
    .headerContainer{
        background-color: white;
    }
    .HeaderBtnJoin{
        color: #1dbf73 !important;
        border-color: #1dbf73;
    }
    .headerlinks{
        color: #62646a;
    } */
}
@media screen and (max-width:1160px) and (min-width:899px) {
    .hide-Header-Nav-900{
        display: none;
    }
}
@media screen and (max-width:899px) and (min-width:600px) {
    .hide-Header-Nav-768{
        display: none;
    }
}
@media screen and (min-width:599px) {
    .hide-Header-Nav-mobile{
        display: none;
    }
}

@media screen and (max-width:599px) {
    .hide-Header-Nav-768{
        display: none;
    }
    .hide-Header-Nav-599{
        display: none;
    }
    .headerRow{
        padding: 0 24px;
    }
    .HeaderBtnJoin{
        border: none;
        padding: 0;
        color: #62646a;
        font-size: 16px;
    }
    .header-logo-icon{
        fill: #000 !important;
    }
    .headerContainer{
        background-color: white;
    }
    
}
/* Header Section Completed */

/* Hero Section  */
@media screen and (max-width:1159px) {
    .heroContainer{
        background-color: #1b1a1d;
        height: 680px;
    }
    .heroRow{
        top: 80px;
        width: 590px;
        padding: 0;
        padding-left: 32px;
        margin: 0;
        height: 600px;
    }
    .heroCol1{
        width: 100%;
    }
    .heroTitle {
        font-size: 40px;
        line-height: 48px;
        font-weight: 600;
    }
    .popular-btn-list-hero{
        flex-wrap: wrap;
    }
    .PaddingForMobile{
        padding-top: 10px;
    }
}
@media screen and (max-width:899px) {
    .heroContainer{
        background-color: #1b1a1d;
        height: 415px;
    }
    .heroRow{
        top: 80px;
        width: 100%;
        padding: 0;
        display: block;
        padding: 0 32px;
        margin: 0;
    }
    .heroCol1{
        width: 100%;
        padding: 16px 64px 96px;
        max-width: 100%;
    }
    .HideBtnSearch{
        display: none;
    }
    .HidePoupular{
        display: none;
    }
    .search-form{
        background: none;
        flex-direction: column;
    }
    .SearchInput{
        width: 100%;
    }
    .SearchBtnHero{
        width: 100%;
        margin-top: 10px;
    }
}
@media screen and (max-width:599px) {
    .heroCol1{
        width: 100%;
        padding: 0;
        max-width: 100%;
    }
    .heroRow{
        padding: 48px 24px 0;
        height: 350px;
    }
    .heroTitle{
        font-size: 32px;
        line-height: 1;
    }
}
/* Hero Section Completed */

/* Trusted Section */
@media screen and (max-width:1159px) {
    .trustedRow{
        padding: 0 32px;
        margin: 0;
    }
    .trusted-by-text{
        display: none;
    }
}
@media screen and (max-width:899px) {
    .trustedContainer{
        margin-bottom: 80px;
    }
    .trusted-by-logos{
        padding-right: 24px;
    }
}
@media screen and (max-width:599px) {
    .trustedContainer{
        margin-bottom: 48px;
    }
    .trusted-by-last-logo{
        display: none;
    }
    .trusted-by-logos{
     
        padding-right: 16px;
    }
}
/* Trusted Section Completed */

/* Services Section */
@media screen and (max-width:899px) {
    .servicesContainer{
        margin-bottom: 80px;
    }
    .servicesCard{
        width: 255px;
        height: 345px;
    }
}
@media screen and (max-width:599px) {
    .servicesContainer{
        margin-bottom: 48px;
    }
    .servicesCard{
        width: 100%;
        height: 345px;
    }
    .servicesRow{
        padding: 24px;
    }
    /* Title */
    .TitleForAllSection{
        font-size: 28px;
    }
    /* Title Completed */
}
/* Services Section Completed */

/* Freelance Section  */
@media screen and (max-width:899px) {
    .freelanceContainer{
        margin-bottom: 80px;
    }
    .freelanceRow{
        flex-wrap: wrap;
    }
    .freelancecol1 ,.freelancecol2{
        width: 100%;
    }
    .freelancecol1{
        padding: 0 0 48px;
    }
}
@media screen and (max-width:599px) {
    .freelanceRow{
        padding: 48px 24px; 
    }
    .freelanceContainer{
        margin-bottom: 48px;
    }
}
/* Freelance Section Completed */

/* Marketplace Section */
@media screen and (max-width:899px) {
    .marketplaceListItem{
        width: 33.33%;
    }
}
@media screen and (max-width:599px) {
    .marketplaceListItem{
        width: 50%;
    }
    .marketplaceRow{
        padding: 0 24px; 
        margin-bottom: 0;
    }
    .marketplaceContainer{
        margin-bottom: 48px;
    }
}
/* Marketplace Section Completed */

/* Business Section */
@media screen and (max-width:899px) {
    .businessContainer{
        margin-bottom: 80px;
    }
    .businessRow{
        flex-wrap: wrap;
        padding: 48px 32px;
    }
    .businesscol1 ,.businesscol2{
        width: 100%;
    }
    .businessTitle, .businessText, .businessList{
        max-width: 100%;
    }
    .BussinessBtn{
        width: 260px;
        height: 45px;
    }
    .businesscol2{
        margin-top: 40px;
    }

}
@media screen and (max-width:599px) {
    .businessContainer{
        margin-bottom: 48px;
    }
    .businessRow{
        flex-wrap: wrap;
        padding: 48px 16px;
    }
}
/* Business Section Completed */ 

/* Testimonial Section */
@media screen and (max-width:1159px) {
    .testimonialSlideCol2{
        padding: 0 36px 0 16px;
        width: 50%;
    }
    .testimonialRow
    .testimonialSlideCol1{
        width: 50%;
    }
    .TestimonialText{
        font-size: 24px;
    }
    .TestimonialTitle{
        flex-wrap: wrap;
    }
    .testimonial-logo-Container{
        margin-left: 0;
        border: none;
        width: 100%
    }
    .testimonial-logo{
        margin: 0;
    }
}
@media screen and (max-width:899px) {
    .testimonialRow{
        padding-bottom: 0;
    }
    .testimonialContainer{
        margin-bottom: 80px;
    }
    .testimonialSlideContainer{
        flex-wrap: wrap;
    }
    .testimonialSlideCol1{
        width: 100% !important;
    }
    .testimonialSlideCol2{
        padding: 0;
        padding-top: 24px;
        width: 100%;
    }

}
@media screen and (max-width:599px) {
    .testimonialRow{
        padding: 0 24px;
    }
}
/* Testimonial Section Completed */

/* Logo Section */
@media screen and (max-width:1159px) {
    .logoCol1 {
        padding: 36px 0 36px 32px;
    }
    .hideMobileLogo{
        display: none;
    }
}
@media screen and (max-width:899px) {
    .logoContainer{
        margin-bottom: 80px;
    }
    .logoRow{
        background-image: none;

    }
    .hideTabLogo{
        display: block;
    }
    .tabLogo{
        width: 100%;
        height: auto;
        margin-top: -30%;
        object-fit: cover;
    }
}
@media screen and (max-width:599px) {
    .logoContainer{
        margin-bottom: 48px;
        padding: 0;
    }
    .logoCol1{
        padding: 48px 24px;
    }
    .tabLogo{
        display: none;
    }
    .hideMobileLogo{
        display: block;
    }
    .mobileLogo{
        width: 100%;
        height: auto;
        margin-top: -50%;
        object-fit: cover;
    }
}
/* Logo Section Completed */

/* Projects Section */
@media screen and (max-width:1159px) {
    .projectsRow{
        padding: 64px 32px;
    }
}
@media screen and (max-width:899px) {
    .projectsRow{
        padding: 48px 32px;
    }
    .projectsContainer{
        margin-bottom: 80px;
    }
    .hide-MoreProjectsBtnMobile{
        display: none;
    }
    .hide-MoreProjectsBtnDesktop{
        display: block;
    }
}
@media screen and (max-width:599px) {
    .projectsContainer{
        margin-bottom: 48px;
    }
    .projectsRow{
        padding: 48px 24px;
    }
}
/* Projects Section Completed */

/* Guides Section */
@media screen and (max-width:1159px) {
    
}
@media screen and (max-width:899px) {
    .guidesContainer{
        margin-bottom: 80px;
    }
    .guidesCol2{
        flex-wrap: wrap;
    }
    .guidesCard1, .guidesCard2, .guidesCard3{
        width: 50%;
    }
    .guidesCard3{
        margin-top: 20px;
        padding-left: 0;
    }
}
@media screen and (max-width:599px) {
    .guidesContainer{
        margin-bottom: 48px;
    }
    .guidesRow{
        padding: 0 24px;
    }
    .guidesCard1, .guidesCard2, .guidesCard3{
        width: 100%;
        margin-top: 20px;
    }
    .guidesTitle{
        padding: 0px;
    }
    .guidesCardTitle{
        font-size: 16px;
    }
}
/* Guides Section Completed */