/* Header Section */
@media screen and (min-width:1161px) {
    .HeaderMenuBtn{
        display: none;
    }
    .offcanvasHeader{
        display: none;
    }
    .offcanvasHeaderOverlay{
        display: none;
    }
}
@media screen and (max-width:1160px) {
    .headerCol1{
        display: flex;
        align-items: center;
    }
    /* .header-logo-icon{
        fill: #000 !important;
    }
    .headerContainer{
        background-color: white;
    }
    .HeaderBtnJoin{
        color: #1dbf73 !important;
        border-color: #1dbf73;
    }
    .headerlinks{
        color: #62646a;
    } */
}
@media screen and (max-width:1160px) and (min-width:899px) {
    .hide-Header-Nav-900{
        display: none;
    }
}
@media screen and (max-width:899px) and (min-width:600px) {
    .hide-Header-Nav-768{
        display: none;
    }
}
@media screen and (min-width:599px) {
    .hide-Header-Nav-mobile{
        display: none;
    }
}

@media screen and (max-width:599px) {
    .hide-Header-Nav-768{
        display: none;
    }
    .hide-Header-Nav-599{
        display: none;
    }
    .headerRow{
        padding: 0 24px;
    }
    .HeaderBtnJoin{
        border: none;
        padding: 0;
        color: #62646a;
        font-size: 16px;
    }
    .header-logo-icon{
        fill: #000 !important;
    }
    .headerContainer{
        background-color: white;
    }
    
}
/* Header Section Completed */

/* Hero Section  */
@media screen and (min-width:1160px) {
    
}
@media screen and (max-width:1159px) {
    .heroContainer{
        background-color: #1b1a1d;
        height: 600px;
    }
    .heroRow{
        top: 80px;
        width: 590px;
        padding: 0;
        padding-left: 32px;
        margin: 0;
    }
    .heroCol1{
        width: 100%;
    }
    .heroTitle {
        font-size: 40px;
        line-height: 48px;
        font-weight: 600;
    }
    .popular-btn-list-hero{
        flex-wrap: wrap;
    }
    .PaddingForMobile{
        padding-top: 10px;
    }
}
@media screen and (max-width:899px) {
    .heroContainer{
        background-color: #1b1a1d;
        height: 415px;
    }
    .heroRow{
        top: 80px;
        width: 100%;
        padding: 0;
        display: block;
        padding: 0 32px;
        margin: 0;
    }
    .heroCol1{
        width: 100%;
        padding: 16px 64px 96px;
        max-width: 100%;
    }
    .HideBtnSearch{
        display: none;
    }
    .HidePoupular{
        display: none;
    }
    .search-form{
        background: none;
        flex-direction: column;
    }
    .SearchInput{
        width: 100%;
    }
    .SearchBtnHero{
        width: 100%;
        margin-top: 10px;
    }
}
@media screen and (max-width:599px) {
    .heroCol1{
        width: 100%;
        padding: 0;
        max-width: 100%;
    }
    .heroRow{
        padding: 48px 24px 0;
    }
    .heroTitle{
        font-size: 32px;
        line-height: 1;
    }
}
/* Hero Section Completed */

/* Trusted Section */
/* Trusted Section Completed */