/* General Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    -webkit-font-smoothing: antialiased;
}
body {
    background-color: #fff;
    color: #62646a;
    font: 400 16px/24px Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
    position: relative;
    width: 100%;
}

